<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/quest.css" />
  <title>QUESTION 3_24</title>
  <link rel="icon" href="/img/favicon-32x32.png">
  <style>
    .link {
      cursor: default;
      visibility: hidden;

    }
  </style>
</head>

<body>
  <div class="container">
    <div class="header">
      <h1>BACKSLASH</h1>
    </div>
    <div class="progress-bar"></div>
    <div class="question">
      <h2>QUESTION 3_24</h2>

      <p class="cyberpunk">
        The place where all the combinations lie.js 


        <img src="/img/3_24.png" alt="" />

      <div class="link">
        <a href="https://drive.google.com/file/d/1G14zArDNXZUB5RVxAbDjkZ-B-cHzpdfV/view?usp=sharing">
          the answer you are looking for is this
        </a>
      </div>
      </p>
      <form action="/uac/3_24" method="POST">
        <div class="textarea">
          <input type="text" class="textarea" name="answer" id="answer" placeholder="Enter your Answer here" />
        </div>
        <button class="cyberpunk2077" type="submit">SUBMIT</button>
      </form>
    </div>
    <div class="log-out">
      <div class="team-name">
        <h3>
          <%= team %>
        </h3>
        <a href="/logout"> <button class="cyberpunk2077">LOG OUT</button></a>
      </div>
    </div>
  </div>
</body>

</html>