<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/quest.css" />
    <title>Question 3_30</title>
    <link rel="icon" href="/img/favicon-32x32.png" />
  </head>

  <body>
    <div class="container">
      <div class="header">
        <h1>BACKSLASH</h1>
      </div>
      <div class="progress-bar"></div>
      <div class="question">
        <h2>QUESTION 3_30</h2>

        <p class="cyberpunk">
          Q. The lasgalen gems as shiny as before, were nothing but cracks in
          the walls of our endeavor. The land was beautiful, the mountains were
          tall, In the days of the Elders before the fall of the mighty Kings of
          Nargothrond And Gondolin, who now beyond, The Western Seas have passed
          away, The world was fair in Durin's Day.
          <img src="/img/bot.jpeg" alt="" />
        </p>
        <form action="/uac/3_30" method="POST">
          <div class="textarea">
            <input
              type="text"
              class="textarea"
              name="answer"
              id="answer"
              placeholder="Enter your Answer here"
            />
          </div>
          <button class="cyberpunk2077" type="submit">SUBMIT</button>
        </form>
      </div>
      <div class="log-out">
        <div class="team-name">
          <h3><%= team %></h3>
          <a href="/logout"> <button class="cyberpunk2077">LOG OUT</button></a>
        </div>
      </div>
    </div>
  </body>
</html>
