<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/quest.css" />
    <title>Question 2_14</title>
    <link rel="icon" href="/img/favicon-32x32.png" />
  </head>

  <body>
    <div class="container">
      <div class="header">
        <h1>BACKSLASH</h1>
      </div>
      <div class="progress-bar"></div>
      <div class="question">
        <h2>QUESTION 2_14</h2>

        <p class="cyberpunk">
          The wavy water is a reflection of the sky but still not really the
          true sky. Those who don't believe in magic will never find it.
          <img class="quest_img" src="/img/ques_11.png" alt="" />
        </p>
        <form action="/little-china/2_14" method="POST">
          <div class="textarea">
            <input
              type="text"
              class="textarea"
              name="answer"
              id="answer"
              placeholder="Enter your Answer here"
            />
          </div>
          <button class="cyberpunk2077" type="submit">SUBMIT</button>
        </form>
      </div>
      <div class="log-out">
        <div class="team-name">
          <h3><%= team %></h3>
          <a href="/logout"> <button class="cyberpunk2077">LOG OUT</button></a>
        </div>
      </div>
    </div>
  </body>
</html>
