<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/cardd.css" />
  <link rel="icon" href="/img/favicon-32x32.png">

  </head>
  <body>
    <div class="magic">
      <a id="pathone" href="/subway/1_2">
        <div class="card">|Subway The 2nd|</div></a
      >
      <a id="pathtwo" href="/subway/1_3">
        <div class="card1">|Subway The 3rd|</div></a
      >
      <a id="paththree" href="/subway/1_4">
        <div class="card2">|Subway The 4th|</div>
      </a>
    </div>
  </body>
</html>
