<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/quest.css" />
    <title>Question 1_3</title>


  </head>

  <body>
    <div class="container">
      <div class="header">
        <h1>BACKSLASH</h1>
      </div>
      <div class="progress-bar"></div>
      <div class="question">
        <h2>QUESTION 1_3</h2>

        <p class="cyberpunk">
          Q. Each of the following questions is based on the following information:
          8-trees → mango, guava, papaya, pomegranate, lemon, banana, raspberry and apple are in two rows 4 in each facing North and South.
          Lemon is between mango and apple but just opposite to guava.
          Banana is at one end of a line and is just next in the right of guava or either banana tree is just after guava tree.
          Raspberry tree which at one end of a line, is just diagonally opposite to mango tree.
        </p>
        <form action="/subway/1_3" method="POST">
          <div class="textarea">
            <input
              type="text"
              class="textarea"
              name="answer"
              id="answer"
              placeholder="Enter your Answer here"
            />
          </div>
          <button class="cyberpunk2077" type="submit">SUBMIT</button>
        </form>
      </div>
      <div class="log-out">
        <div class="team-name">
          <h3><%= team %></h3>
          <a href="/logout"> <button class="cyberpunk2077">LOG OUT</button></a>
        </div>
      </div>
    </div>
  </body>
</html>
